/*Font family
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Roboto Slab', serif;
*/
body{width: 100%;float: left;margin: auto;padding: 0;font-family: 'Barlow', sans-serif; color: #000;font-size: 14px;height: 100%;}
html{height: 100%;}
.yellowbg {background: #FFD465; width: 100%; float: left; margin: auto; padding: 20px 0;}
.logohead {padding: 0;clear: both;margin-bottom: 30px;float: left;}
.logo {width: 100%; float: left; margin: auto; text-decoration: none; }
.grow {width: 100%; float: left; margin: 30px 0 0; padding: 0; }
.growhead {font-family: 'Barlow Condensed', sans-serif; font-style: normal; font-weight: 600; font-size: 48px; line-height: 48px; letter-spacing: 0.02em; color: #212121; width: 100%; float: left; } 
.smallgrowtext {font-family: 'Barlow'; font-style: normal; font-weight: 400; font-size: 24px; line-height: 32px; color: #000000; }
.middlebox {width: 100%;float: left;margin: auto;position: relative;}
.growtext {float: left; }
.growimage {float: left; position: relative; }
.growimage .images img {position: absolute; top: 30px; }
.images {width: 100%; float: left; margin: auto; position: relative; }
.padding {background: #FFFFFF; border: 3px solid #000000; box-shadow: 0px 4px 0px #000000; border-radius: 20px; width: 100%; float: left; margin: auto; padding: 10px; text-align: center; }
.boxesone {display: inline-block; float: left; }
.threeboxs {padding: 0; margin: 50px 0 0; float: left; }
.iconnumber {font-family: 'Roboto Slab'; font-style: normal; font-weight: 700; font-size: 72px; line-height: 72px; display: inline-block; align-items: center; text-align: center; color: #212121; width: 100%; margin-bottom: 20px; }

.iconhead {font-family: 'Barlow Condensed'; font-style: normal; font-weight: 600; font-size: 26px; line-height: 26px; text-align: center; letter-spacing: 0.01em; color: #212121; float: left; margin: 0 0 20px; width: 100%; max-height: 40px; }

.iconsmalltext {font-family: 'Barlow'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 24px; text-align: center; color: #212121; min-height: 110px; display: inline-block; float: left; width: 100%; }
.col-sm-12.buttoncenter {padding: 0; text-align: center; margin: 50px 0; display: inline-block; float: left; }
.startbtn {background: #212121; border: 1px solid #000000; box-shadow: 0px 2px 0px #000000; border-radius: 8px; display: inline-block; font-family: 'Barlow Condensed'; font-style: normal; font-weight: 600; font-size: 29px; line-height: 29px; letter-spacing: 0.02em; color: #FFFFFF; padding: 10px 40px; text-decoration: none; color: #fff; }
.startbtn:hover, .startbtn:focus, .startbtn:active{color: #FFD465;text-decoration: none;}
.social {float: left; margin: 20px 0; text-align: center; width: 100%; padding: 0; }
.footer {width: 100%; float: left; margin: auto; }
.social li {list-style: none; display: inline-block; margin: 0 20px; }
.social li a{width: auto;display: inline-block;margin: auto;}
.social li a i {color: #212121; font-size: 25px; text-decoration: none; width: auto; display: inline-block; }
.blagbg {width: 100%; float: left; margin: auto; background: #212121; padding: 30px 0 7px; } 
.blagbg ul.links {margin: 0; padding: 0; }
.blagbg ul.links li {width: 20%; text-align: center; float: left; list-style: none; }
.blagbg ul.links li a {font-family: 'Barlow Condensed'; font-style: normal; font-weight: 600; font-size: 22px; line-height: 30px; text-align: center; letter-spacing: 0.01em; color: #FFFFFF; text-decoration: none; width: auto; display: inline-block; transition: all 0.2s ease-in-out; }
.blagbg ul.links li:first-child {text-align: left; }
.blagbg ul.links li:last-child {text-align: right; }
.copyright {width: 100%; float: left; font-family: 'Barlow'; font-style: normal; font-weight: 400; font-size: 12px; line-height: 16px; text-align: center; color: #FFFFFF; padding: 30px 0px 0; }
.blagbg ul.links li a:hover, .blagbg ul.links li a:focus, .blagbg ul.links li a:active{color: #FFD465;}
.yellowbg.white {background: #fff; }
.centerboxesform {width: 100%; margin: auto; text-align: center; }

.centerboxesform {width: 100%; margin: 50px 0; text-align: center; }
.pinkbox {margin: auto;border-radius: 100%;background: #FF9692;padding: 11%;display: inline-block;box-sizing: border-box;width: auto;max-width: 850px;height: 850px;}

.cirlehead p {font-family: 'Barlow Condensed'; font-style: normal; font-weight: 600; font-size: 48px; line-height: 48px; letter-spacing: 0.02em; color: #212121; width: 100%; float: left; margin: 0 0 40px; }
.cirlehead {width: 100%; float: left; margin: auto; position: relative; }
.circleoxes {width: 100%; float: left; margin: auto; }
.homeicons {position: absolute;right: -21px;top: -20px;}
.homeicons img {max-width: 40%;}
.fulwidth {width: 100%; float: left; margin: auto; text-align: center; }
.fulwidth .col-sm-8 {margin: auto; }
.fulwidth .col-sm-8 label, .fulwidth .col-sm-12 label {font-family: 'Barlow'; font-style: normal; font-weight: 400; font-size: 24px; line-height: 32px; color: #000000; width: 100%; float: left; text-align: left; } .col-sm-12.givebox {width: 100%; float: left; margin: auto; } 
.col-sm-12.givebox .containers {display: block; position: relative; padding-left: 31px; cursor: pointer; user-select: none; float: left; }
.col-sm-12.givebox  .containers input {position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }
.col-sm-12.givebox .checkmark {position: absolute;top: 4px;left: 0;height: 25px;width: 25px;background-color: #fff;border-radius: 50%;border: 2px solid #000;}
.col-sm-12.givebox .containers:hover input ~ .checkmark {background-color: #ccc; }
.col-sm-12.givebox .containers input:checked ~ .checkmark {background-color: #fff;}
.col-sm-12.givebox .checkmark:after {content: ""; position: absolute; display: none; }
.col-sm-12.givebox .containers input:checked ~ .checkmark:after {display: block; } 
.fulwidth .col-sm-12 {float: left; width: 100%; }
.col-sm-12.givebox .containers .checkmark:after {top: 4px;left: 4px;width: 14px;height: 14px;border-radius: 50%;background: #FFBD12;border: 2px solid #000;}
.col-sm-12.givebox .containers input.form-control {position:absolute;width:130px;height:auto;opacity: 1;display: inline-block;right: -30px;}
.col-sm-12.givebox .containers:nth-child(1) {width: 25%;margin: 0;}
.col-sm-12.givebox .containers:nth-child(2) {width: 70%; margin: 0; }
.circleoxes .form-group {width: 100%;float: left;margin: 0 0 37px;}
.form-control {background: #FFFFFF; border: 2px solid #616161; border-radius: 12px; font-weight: 400; font-size: 18px; line-height: 26px; color: #616161; box-shadow: none; outline: none; }
.col-sm-12.givebox .containers label {font-weight: 600;width: auto;     font-weight: 600; position: relative; top: 5px;}
.fulwidth .col-sm-12.likebox {margin:20px 0 0 0; text-align: center; }
.fulwidth .col-sm-12.likebox .form-group {text-align: center; margin: 0 0 10px; }
.fulwidth .col-sm-12.likebox .form-group .checkboxx {width: 100%; float: left; margin: auto; text-align: center; }
.fulwidth .col-sm-12.likebox .form-group .checkboxx label {float: none; text-align: center; font-weight: 400; font-size: 14px; line-height: 20px; color: #424242; width: auto; position: relative; }
.dektopimages {position: absolute;left: 0%;z-index: 1;width: 29%;bottom: 60px;}
.dektopimages img {max-width: 100%; }
.dektopimages.mobile {display: none; }
.tickicon {background: #FF9692; border: 4px solid #18191F; width: 161px; height: 161px; border-radius: 100%; line-height: 161px; font-size: 90px; display: inline-block; margin-bottom: 30px; }
.donatebox {width: 100%; float: left; padding: 70px 0 30%; text-align: center; position: relative; }
.donate {font-family: 'Barlow Condensed'; font-style: normal; font-weight: 600; font-size: 48px; line-height: 48px; letter-spacing: 0.02em; color: #212121; width: 100%; display: inline-block; margin: 20px 0;     text-align: center;}
.donatetext {font-family: 'Barlow'; font-style: normal; font-weight: 400; font-size: 24px; line-height: 32px; text-align: center; color: #000000; width: 100%; display: inline-block; margin: 0 0 30px; }
.bottomimages {position: absolute; right: 0; width: 100%; margin: 6px 0 0 0; bottom: -8.5%; left: -40px; z-index: -1; }
.desktopview {float: left; width: 100%; margin: auto; }
.desktopview .col-sm-6 {float: left; margin: auto; }
.mobileview {display: none; }
.desktopview .col-sm-6 img.img-fluid {max-width: 100%; } 
.bottomimages img.img-fluid {max-width: 94%; float: left; }
.yellowbg.greenbg {background: #61E4C5; }
.col-sm-10.mainheading {margin: auto; }
.formwhite {margin: auto; }
.formwhite .paddingss {background: #FFFFFF; border: 3px solid #18191F; box-shadow: 0px 6px 0px #18191F; border-radius: 16px; width: 100%; display: inline-block; padding: 60px; text-align: left;     position: relative;}
.linktext {font-family: 'Barlow Condensed'; font-style: normal; font-weight: 600; font-size: 24px; line-height: 32px; letter-spacing: 0.01em; color: #000000; width: 100%; float: left; margin: 0 0 20px; }
.formwhite .paddingss textarea.form-control {height: 270px; }
.addbtn {position: absolute; bottom: 0; right: 0; left: 0; margin: auto; text-align: center; font-size: 32px; color: #212121; }
.addbtn a{color: #212121;}
.col-sm-12.likebox .containers input {position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }
.col-sm-12.likebox .checkmark {position: absolute; top: 2px; left: -25px; height: 17px; width: 17px; background-color: #ccc; border: 2px solid #000; border-radius: 3px; }
.col-sm-12.likebox .containers:hover input ~ .checkmark {background-color: #ccc; }
.col-sm-12.likebox .containers input:checked ~ .checkmark {background-color: #FFD465; }
.col-sm-12.likebox .checkmark:after {content: ""; position: absolute; display: none; }
.col-sm-12.likebox .containers input:checked ~ .checkmark:after {display: block; }
.col-sm-12.likebox .containers .checkmark:after {left: 4px; top: 1px; width: 5px; height: 10px; border: solid black; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.col-sm-12.likebox.margin {width: 100%; float: left; margin: 40px 0; text-align: center; }
.col-sm-12.likebox.margin label.containers {position: relative; color: #424242; font-style: normal; font-weight: 400; font-size: 14px; line-height: 20px; }
.col-sm-12.send {width: 100%; float: left; text-align: center; }
.col-sm-6.leftside {position: absolute; left: -43%; bottom: -24%;z-index: -1;}
.col-sm-6.rightside {position: absolute; right: -43%; bottom: -23%; padding: 0; z-index: -1;}
.bottomimagesshowmobile{display: none;}
.growingcircle {width: 100%; float: left; text-align: center; margin: auto; }
.growingcircle .growinghead {margin: auto; position: relative; }
.counts {font-family: 'Roboto Slab'; font-style: normal; font-weight: 700; font-size: 200px; line-height: 200px; text-align: center; color: #000000; width: 100%; float: left; }
.friendstext {font-family: 'Barlow Condensed'; font-style: normal; font-weight: 600; font-size: 32px; line-height: 32px; text-align: center; letter-spacing: 0.01em; color: #212121; width: 100%; float: left; margin: 20px 0 40px; }
.buttonstext {float: left; margin: auto; width: 100%; }
button.black {background: #212121; border: 2px solid #18191F; border-radius: 44px; font-style: normal; font-weight: 600; font-size: 14px; line-height: 20px; text-align: center;color: #FFFFFF; display: inline-block; padding: 7px 19px; margin-right: 14px; }
.growinghead:before {position: absolute; content: ""; width: 832px; height: 832px; left: 0; top: 0; background: #61E4C5; border-radius: 100%; z-index: -1; }
.showdesk {position: absolute; right: -30%; bottom: -11%; }
.showdesk img {z-index: -1; max-width: 60%; }
.listitems {width: 100%;float: left;margin: 50px 0;}
.starbox img {max-width: 50%; } 
.listitems ul.listmids {margin: 0; padding: 0; }
.listitems ul.listmids li {list-style: none;display: inline-block;float: left;width: 6.5%;padding: 0;margin-bottom: 10px;}
.starbox {background: #FFE8E8;border: 1.44872px solid #18191F;box-shadow: 0px 2px 0px #18191F;border-radius: 17.3846px;display: inline-block;width: 57px;height: 57px;line-height: 53px;}
.starbox i {color: #FFBD12; text-shadow: 0px 1px BLACK; font-size: 25px; }
.ratetext {font-style: normal;font-weight: 400;font-size: 14px;line-height: 24px;text-align: center;color: #18191F;width: 100%;float: left;margin: 10px 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.mobileviewgrowiing {display: none; }
.starbox.green {background: #D6FCF7; }
.starbox.yellow {background: #FFF4CC; }
.mobileviews {display: none; }
#next {display: none; }
.modal-backdrop.fade.show {opacity: 0.8; }
#myModal .modal-dialog {position: absolute;left: 0;right: 0;margin: auto;top: 50%;transform: translateY(-50%);max-width: 100%;width: 45%;}
#myModal .modal-dialog .modal-content {border: 3px solid #18191F; box-shadow: 0px 6px 0px #18191F; border-radius: 16px; }
#myModal1 .modal-dialog {position: absolute;left: 0;right: 0;margin: auto;top: 50%;transform: translateY(-50%);max-width: 100%;width: 40%;}
#myModal1 .modal-dialog .modal-content {border: 3px solid #18191F; box-shadow: 0px 6px 0px #18191F; border-radius: 16px; }
.modal-header .close {position: absolute; opacity: 1; left: -68px; top: -10px; z-index: 999999; opacity: 1 !important; }
.modal-header .close img {max-width: 30%; }
.modal-header {padding: 0; margin: 0 0 10px; border: none; } 
h4.modal-title {font-family: 'Barlow Condensed'; font-style: normal; font-weight: 600; font-size: 48px; line-height: 48px; text-align: center; letter-spacing: 0.02em; color: #18191F; width: 100%; padding: 20px 0; }
.modal-body {padding: 20px 84px; text-align: center; }
.simply {font-style: normal; font-weight: 600; font-size: 24px; line-height: 32px; color: #474A57; width: 100%; float: left; margin: 0 0 10px; }
.forminput {width: 80%; margin: 10px 0; display: inline-block; position: relative; }
.ustext {font-family: 'Barlow'; font-style: normal; font-weight: 400; font-size: 12px; line-height: 16px; color: #212121; position: absolute; right: 3px; bottom: -20px; }
.fulwidth.margiboxed {margin: 100px 0; }
.textnumber {width: 100%; margin: 10px 0 0; float: left; }
.textnumber .form-control {width: 22%; float: left; margin-right: 13px; padding: 20px 0; height: auto; text-align: center; height: 80px; }
.textnumber .form-control:last-child {margin: 0; }
.modal-body.loginbody {padding: 20px 50px; }